.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.title > h1 {
    padding: 2rem 4rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

.black-line {
    border-top: 1px solid #707070;
    width: 13rem;
    position: absolute;
    bottom: 1.5rem;
}

.red-line {
    border-top: 4px solid #B81D24;
    width: 3.5rem;
    position: absolute;
    bottom: 1.434rem;
}

.title > h1 {
    padding: 1.8rem 0rem !important;
}

.body {
    width: 100%;
    margin-top: 20px;
    padding: 0px 15px;
}

.publication-box {
    max-height: 600px;
    max-width: 439px;
    overflow: auto;
    padding-left: 5px;
}

.publication-list{
    display: flex;
    flex-direction: column; 
}

.publication-object{
    margin-bottom: 1.8rem;
    padding: 10px 2rem;
    cursor: pointer;
}

.publication-selected {
    background-color:#E50914;

}

.publication-selected p{
    color:#fff;    
}

.publication-not-selected {
    background-color:#fff;;
}

.cut-text p{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 5px;
    margin-bottom: 9px;
}

.info-box {
    margin-left: auto;
    display: flex;
    flex-direction: column;
}

.publication-data-box {
    min-height: 591px;
    padding: 2rem 3rem;
    display: flex;
}

.publication-data {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cite {
    white-space: pre-wrap;
    max-height: 300px;
    overflow-y: auto;
}

.publication-buttons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.accept {
    background-color: #E50914;
    border-radius: 38px;
    color: #FFF;
    border: 0px;
    padding: 0.8rem 1rem;
}

.accept:hover {
    background-color: #B81D24;    
    box-shadow: 0 0 4px #F01E28;
}

.error-text {
    background-color: rgb(242, 222, 222);
    color: #b94a48;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.5rem 1.25rem;
    word-wrap: break-word;
}

.no-publications {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
}

.no-publications h2 {
    padding: 1.8rem 0rem !important;
    font-weight: bold;
    font-size: 1.5rem;
}

@media (max-width: 1199px){
    .publication-box {
        max-width: 100%;
    }

    .publication-list {
        flex-direction: row;
    }

    .publication-object {
        margin-right: 2rem;
        min-width: 277px;
    }

    .publication-data-box {
        min-height: 400px;
    }

    .no-publications {
        width: 70%;
    }
}

@media (max-width: 600px){
    .no-publications {
        width: 100%;
    }
}

@media (min-width: 992px){
    .padding-box {
        padding: 0px 40px;
    }
}