.title {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.title > h1 {
    padding: 2rem 4rem;
    font-weight: bold;
    font-size: 2rem;
}

.black-line {
    border-top: 1px solid #707070;
    width: 13rem;
    position: absolute;
    bottom: 1.5rem;
}

.red-line {
    border-top: 4px solid #B81D24;
    width: 3.5rem;
    position: absolute;
    bottom: 1.434rem;
}


.title > h1 {
    padding: 1.8rem 0rem !important;
}

.body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
}

.publication {
    margin-top: 2rem;
    min-height: 107px;
}

.info {
    padding: 10px 30px;
}

.info > a{
    text-decoration: none;
    color: #212529;
    font-weight: bold;
}

.info > div {
    margin-bottom: 10px;
}

.journal-info {
    display: flex;
    flex-wrap: wrap;
}

input[type=button] {
    background-color: #E50914;
    border-radius: 38px;
    color: #FFF;
    border: 0px;
    height: 3rem;
    width: 13rem;
    align-self: end;
    margin-bottom: 1rem;
}

input[type=button]:hover {
    background-color: #B81D24;    
    box-shadow: 0 0 4px #F01E28;
}

@media (min-width: 992px){
    .padding-box {
        padding: 0px 40px;
    }
}

.filterText {
    padding: .5em .25em;
    background: #fff;
    border: 1px solid transparent;
    border-radius: .25em;
    border-color: #dbdbdb;
    width: 100%;
}

.button-box {
    flex-basis: 100%;
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.no-publications {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}

.no-publications h2 {
    padding: 1.8rem 0rem !important;
    font-weight: bold;
    font-size: 1.5rem;
}